.post-list .post-menu {
    text-align: right;
}

.post-list article {
    text-align: initial;
    padding-bottom: 10px;
}

.post-list article a {
    color: #333333;
}

.post-list article ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    border-bottom: 1px solid #888;
}

.post-list article ul li {
    display: inline-block;
    font-size: 0.8em;
    line-height: 1em;
    margin-right: -4px;
    padding: 0 10px 5px;
}